* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 0px;
  margin-left: 0px;
}

#header {
  -webkit-app-region: drag;
  background-color: #0ab475;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#values {
  -webkit-app-region: drag;
  flex-direction:row;
  display: flex;
  cursor: pointer;  
  font-family: "Trebuchet MS", Verdana, sans-serif;
  justify-content: space-between;
  background: transparent;
  overflow: hidden;
  user-select: none;
  color: chartreuse;
}

#values-heal {
  -webkit-app-region: drag;
  flex-direction: column;
  display: flex;
  cursor: pointer;  
  font-family: "Trebuchet MS", Verdana, sans-serif;
  justify-content: space-between;
  background: transparent;
  overflow: hidden;
  user-select: none;
  color: chartreuse;
}

#values-damage {
  -webkit-app-region: drag;
  flex-direction: column;
  display: flex;
  cursor: pointer;  
  font-family: "Trebuchet MS", Verdana, sans-serif;
  justify-content: space-between;
  background: transparent;
  overflow: hidden;
  user-select: none;
  color: chartreuse;
}

.btn-group .button {
  -webkit-app-region: no-drag;
  background: none;
  border: none;
  color: white;
  text-align: center;                      
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  display: block;
}

.btn-group .button:not(:last-child) {
  border-bottom: none;
}

.btn-group .button:hover {
  background-color: #3e8e41;
}


#close {
  padding: 5px;
  font-size: .8em;
  color:gray;
  -webkit-app-region: no-drag;
}

#close:hover {
  color:chartreuse
}

#toggleChartButton {
  -webkit-app-region: no-drag;
  cursor: pointer;
  background: none;
  border: none;
  margin-right: 25px; /* Adjust margin as needed */
}

#openTableButton {
  -webkit-app-region: no-drag;
  cursor: pointer;
  background: none;
  border: none;
  margin-left: 25px; /* Adjust margin as needed */
}

#toggleChartButton img {
  -webkit-app-region: no-drag;
  width: 24px;  /* Adjust the width and height based on your icon size */
  height: 24px;
}
